# SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
name: Profile

on: pull_request

permissions:
  contents: read

jobs:
  matrix:
    runs-on: ubuntu-latest-low
    outputs:
      php-version: ${{ steps.versions.outputs.php-available-list }}
      server-max: ${{ steps.versions.outputs.branches-max-list }}
    steps:
      - name: Checkout app
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Get version matrix
        id: versions
        uses: icewind1991/nextcloud-version-matrix@58becf3b4bb6dc6cef677b15e2fd8e7d48c0908f # v1.3.1

  profile:
    runs-on: ubuntu-latest
    needs: [matrix]
    strategy:
      matrix:
        flag: ['', '--v6']
        php-version: ${{ fromJson(needs.matrix.outputs.php-version) }}
        nextcloud-version: ${{ fromJson(needs.matrix.outputs.server-max) }}

    name: php${{ matrix.php-version }} ${{ matrix.flag }} profiling
    services:
      mysql-service:
        image: ghcr.io/nextcloud/continuous-integration-mariadb-11.4:latest # zizmor: ignore[unpinned-images]
        env:
          MARIADB_ROOT_PASSWORD: my-secret-pw
          MARIADB_DATABASE: nextcloud
          MARIADB_USER: nextcloud
          MARIADB_PASSWORD: nextcloud
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mariadb-admin ping"
          --health-interval=5s
          --health-timeout=2s
          --health-retries=5
    steps:
      - name: Set up php${{ matrix.php-version }}
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2.35.5
        with:
          php-version: ${{ matrix.php-version }}
          extensions: ctype,curl,dom,gd,iconv,intl,json,mbstring,openssl,pdo_mysql,posix,sqlite,xml,zip
          coverage: none

      - name: Checkout server
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          submodules: true
          repository: nextcloud/server
          ref: ${{ matrix.nextcloud-versions }}
          path: nextcloud

      - name: Install Nextcloud
        run: php -f nextcloud/occ maintenance:install --database-host 127.0.0.1 --database-name nextcloud --database-user nextcloud --database-pass nextcloud --admin-user admin --admin-pass admin --database mysql

      - name: Checkout app
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          path: nextcloud/apps/suspicious_login

      - name: Install dependencies
        working-directory: nextcloud/apps/suspicious_login
        run: composer install

      - name: Enable app
        run: php -f nextcloud/occ app:enable suspicious_login

      - name: Seed the database
        run: |
          php -f nextcloud/occ config:system:set debug --type bool --value true
          php -f nextcloud/occ suspiciouslogin:seed ${{ matrix.flag }}
          php -f nextcloud/occ config:system:set debug --type bool --value false

      - name: Profile a training
        run: time php -f nextcloud/occ suspiciouslogin:train -v ${{ matrix.flag }}

  summary:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: [ profile ]
    if: always()
    name: profile-summary
    steps:
      - name: Summary status
        run: if ${{ needs.profile.result != 'false' && needs.profile.result != 'success' }}; then exit 1; fi
